### Daum Exchange
- `https://finance.daum.net`
- status code : 4xx
- setting headers

In [3]:
import requests
import pandas as pd

In [13]:
# 1. URL
url = 'https://finance.daum.net/api/exchanges/summaries'

In [23]:
# 2. request(url) > response(json)
headers = {'user-agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/129.0.0.0 Safari/537.36', 
          'referer': 'https://finance.daum.net/exchanges'}
response = requests.get(url, headers=headers)
response

In [27]:
response.text[:500]

'{"data":[{"symbolCode":"FRX.KRWUSD","date":"2024-09-20 11:55:00","currencyCode":"USD","currencyName":"달러","currencyUnit":1,"country":"미국","region":{"korName":"아메리카","engName":"America"},"name":"미국 (USD/KRW)","recurrenceCount":265,"basePrice":1331.500,"change":"RISE","changePrice":1.500,"changeRate":0.0011278195,"ttBuyingPrice":1318.500,"ttSellingPrice":1344.500,"cashBuyingPrice":1354.800,"cashSellingPrice":1308.200,"tcBuyingPrice":null,"fcSellingPrice":null,"exchangeCommission":6.7699100000,"usD'

In [37]:
# 3. json > list,dict > DataFrame
data = response.json()['data']
df = pd.DataFrame(data)[['currencyCode', 'currencyName', 'country', 'basePrice']]
df.tail(3)

   currencyCode currencyName country  basePrice
39          KZT           텡게   카자흐스탄       2.78
40          QAR           리얄     카타르     365.14
41          TRY           리라    튀르키예      39.05